<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>585072155876-ubtt3o7h21qscapnlcv30e1f9e0qnd4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585072155876-ubtt3o7h21qscapnlcv30e1f9e0qnd4n</string>
	<key>API_KEY</key>
	<string>AIzaSyDn5IkhA0Z_1lL4-Gn_M3YofY7E-WCC0Os</string>
	<key>GCM_SENDER_ID</key>
	<string>585072155876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hangapp.hang</string>
	<key>PROJECT_ID</key>
	<string>hang-8b734</string>
	<key>STORAGE_BUCKET</key>
	<string>hang-8b734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585072155876:ios:29039b7d27ba1bb4</string>
	<key>DATABASE_URL</key>
	<string>https://hang-8b734.firebaseio.com</string>
</dict>
</plist>